.description-container {
  position: relative; 
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  overflow: hidden; 
}


.slide-content, .progress-indicator {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  max-width: 1200px;
  width: 100%;
}


.description-box {
  position: relative; 
  width: 90%;
}

.svg-animation {
  flex-shrink: 0; 
  width: 300px; 
  height: 300px; 
  margin-top: 10%;
}

#sales-flowchart {
  margin-block-start: 50px;
  margin-block-end: 40px;
  margin-inline-end: 30px;
}

.description-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.description-block {
  width: 100%;
  height: 600px;
  max-width: 1800px;
  margin: 20px 0;
  color: rgb(0, 0, 0);
  text-align: center;
  font-size: 1.2em;
  opacity: 0;
  transform: translateX(-300px);
  transition: opacity 0.5s ease, transform 1s ease;
  background-color: rgb(235, 231, 226);
}

.description-block.visible {
  opacity: 1;
}

.description-block.slide-left.visible {
  transform: translateX(0);
}

.description-block.slide-right {
  transform: translateX(300px);
}

.description-block.slide-right.visible {
  transform: translateX(0);
}
.progress-indicator {
  position: fixed; 
  left: 20px; 
  top: 25%; 
  transform: translateX(-50%); 
  height: 50vh; 
  z-index: 1000; 
  display: flex; 
  flex-direction: column; 
  justify-content: space-between; 
  opacity: 0; 
  transition: opacity 0.3s ease; 
}
  
.progress-indicator.visible {
  opacity: 1; 
}

.progress-indicator::before {
  content: '';
  position: absolute;
  left: 50%; 
  top: 0; 
  height: 100%; 
  width: 2px; 
  background-color: #000000; 
  transform: translateX(-50%); 
}

.indicator-circle {
  background-color: #000000; 
  border-radius: 10px; 
  width: 20px; 
  height: 20px; 
  transition: background-color 0.3s ease; 
  position: relative;
  z-index: 1; 
}

.indicator-circle.active {
  background-color: #ffcc00; 
}

.slide {
  padding: 100px;
  & p {
    margin-block: 30px;
    color: rgb(0, 0, 0);
  }
}
.right-textbox {
   float: right;
   text-align: right;
   margin-left: 200px;
   width: 100%;
}

.left-textbox {
  float: left;
  text-align: left;
  width: 100%;
}

.fade-text {
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 2s ease, transform 2s ease;
}


.fade-in {
  opacity: 1;
  transform: translateY(0);
}

.bullet-list {
  margin-top: 40px;
  display: flex;
  gap: 20px;
}

.bullet-item {
  text-align: left;
}

.circle-title {
  display: flex;
  align-items: center; 
  width: max-content;
  gap: 10px;
}

.circle {
  width: 50px;
  height: 50px;
  background-color: rgb(206, 206, 77);
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 18px;
  color:white;
}

.title {
  font-size: 30px;
  font-weight: bold;
  color: black;
}

.text {
  padding-block-start: 50px;
  font-size: 25px;
  color: gray;
  margin-top: 0px;
  transition: transform 0.3s ease, color 0.3s ease ;
}

.text:hover {
  color: black;
  transform: translateY(5px);
}

@media screen and (max-width: 1200px) {
  .description-block{
    height: fit-content;
  }
  
  .slide-content{
    flex-direction: column;
  }
  
  .slide.sales {
    padding-block: 30px;
  }
  
  .slide.sales #sales-flowchart {
    margin-block-start: 20px;
    margin-block-end: 0px;
    margin-inline: 0px;
  }
  
  .slide.info .bullet-list {
    flex-direction: column;
    gap: 40px;
  }
  
  .slide.info .text {
    padding-block-start: 25px;
  }
}

@media screen and (max-width: 600px) {
  .slide.sales #sales-flowchart {
    width: 190%; 
  }

  .slide {
    font-size: 1.6rem;
  }

  .text-content {
    all: unset;
    text-align: left;
    width: 180%;
  }
  .slide.info .bullet-list .title {
    font-size: 1.7rem;
  }
}
