.plannet-banner {
    background-color: black;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 800px;
}

.plannet-texbox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    color: white;
    text-align: center;
    user-select: none;
}

@keyframes fadeInFromLeft {
    0% {
      opacity: 0;
      transform: translateX(-20px); 
    }
    100% {
      opacity: 1;
      transform: translateX(0); 
    }
}


.plannet-texbox h1 {
    font-size: 80px;
    font-weight: 200;
    margin-top: 30px;
    animation: fadeInFromLeft 1s ease forwards;
}

.plannet-texbox h2 {
    font-size: 60px;
    font-weight: 100;
    color: rgb(204, 196, 196);
    animation: fadeInFromLeft 1s ease forwards;
}


@media screen and (max-width: 600px) {
    .plannet-texbox {
        height: 100%;
        width: 100%;
    }
    .plannet-texbox h1 {
        margin-top: 300px;
    }
}

