.contact-form {
    margin: 100px;

    display: flex;
    justify-content: center;
    background-color: rgb(235, 231, 226);
    padding: 60px;
}

.form-container {
    width: 80%;
    margin: 0 auto;
}

.input-field {
    width: 45%;
    text-align: center;
    margin: 10px;
    border: none;
    height: 40px;
    border-bottom: 1px solid black;
    font-size: 25px;
    background: none;
}
.message-field {
    width: 100%;
    height: 200px;
    padding: 12px 20px;
    font-size: 20px;
    resize: none;
    background: none;
    margin-block:20px;
}

.input-field:focus, .message-field:focus {
    outline: none;
    background-color: rgb(255, 255, 255);
}

.msg-btn {
    font-size: 20px;
    background-color: none;
    height: 40px;
    width: 100%;
    align-self: center;
    background:none
}

.msg-btn:hover {
    background-color: rgb(249, 247, 245);;
}



@media screen and (max-width: 1050px) {
    .contact-form {
        flex-direction: column;
        margin: 20px;
    }

    .form-container{
        width: 100%;
    }

    .input-field {
        width: 95%;
    }
}

