


/* nav bar */

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");

h1,
h2,
h3,
h4 {
  font-weight: 400;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

nav.nav {
  position: absolute; 
  z-index: 1001; 
}


nav.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  color: #fff;
}

ul.nav--list {
  display: flex;
}

li.nav--item {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  margin-left: 32px;
}

nav.nav {
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 40px;
}

.logo {
  font-weight: bold;
  font-size: 25px;
  line-height: 29px;
  z-index: 1002; 
  font-family: "Brush Script MT";
}


li.nav--item a {
  color: #fff;
}

li.nav--item a:hover {
  text-decoration: underline;
}

a.btn {
  display: flex;
  align-items: center;
  padding: 16px 40px;
  color: #fff;
  border: 1px solid #ffffff;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}


.hamburger-menu {
  display: none;
}


li.nav--item a {
  display: inline-block;
  position: relative;
  text-decoration: none;
}
li.nav--item a:hover {
  text-decoration: none;
}
li.nav--item a:after {
  content: "";
  display: block;
  position: absolute;
  width: 0;
  bottom: 0;
  height: 2px;
  margin: -5px 0;
  left: 0;
  background-color: white;
  transition: width 0.4s ease-in 0s;
}
li.nav--item a:hover:after {
  width: 100%;
}



@media screen and (max-width: 768px) {
  
  .hamburger-menu {
    display: block;
    position: relative;
    top: 0;
    right: 0; 
    z-index: 10001;
  }
  .hamburger-menu button {
    position: relative;
    width: 30px;
    height: 22px;
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
    outline: none;
  }
  .hamburger-menu button span {
    position: absolute;
    height: 3px;
    background: #000;
    width: 100%;
    left: 0px;
    top: 0px;
    transition: 0.1s ease-in;
  }
  .hamburger-menu button span {
    background: #fff;
  }

  .hamburger-menu button span:nth-child(2) {
    top: 9px;
  }
  .hamburger-menu button span:nth-child(3) {
    top: 18px;
  }

  ul.nav--list {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-100%);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    top: 0px;
    right: 0;
    width: 100%;
    height: 100vh;
    background-color: black;
    z-index: 1001;
  }

  ul.nav--list.open {
    transition: all 0.3s ease-in-out;
    opacity: 1;
    visibility: visible;
    pointer-events: all;
    transform: translateY(0);
  }

  ul.nav--list li {
    opacity: 0;
    transform: translateY(-100%);
    transition: all 0.3s ease-in-out;
  }

  ul.nav--list.open li {
    opacity: 1;
    transform: translateY(30);
  }

  li.nav--item {
    margin-top: 50px;
    font-size: 40px;
  }

  li.nav--item a {
    color: white;
  }

  li.nav--item a:after {
    width: 0;
    bottom: 0;
    height: 4px;
    margin: -15px 0;
    left: 0;
    background-color: white;
    transition: all 0.4s ease-in 0s;
  }
}
