* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  html {
    scroll-behavior: smooth;

    overflow-x: hidden; /* Prevents any horizontal overflow */

  }
  
  body {
    margin: 0;
    font-family: "Inter", sans-serif;
    font-size: 20px;
    color: #000;
    background-color: rgb(255, 255, 255);
  }
